.about {
    background-color: rgb(148, 177, 185);
    display: flex;
    flex-direction: column;
    min-height: 30vh;  
}
.about .container h1 {
    color: black;
    background: none;
    border: none;
    z-index: 1;
    transform: none;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 1px 0 #ccc;
}
.about p {
    font-size: 24px;
}
.about .horizontal {
    width: 80%;
}
.about img {
    width: 335px;
    height: 504px;
    overflow: hidden;
    border-radius: 5px;
}
.aboutBreakLine {
    display: none;
}

@media screen and (max-width: 600px) {
    .about {
        display: block;
    }
    .about .card {
        width: 100%;
    }
    .about .horizontal {
        display: block;
    }
    .about .container h1 {
       font-size: 25px;
    }
    .about p {
        font-size: 18px;
    }
    .about img {
        height: auto;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutBreakLine {
        display: block;
    }
}
@media screen and (max-width: 1200px) and (min-width: 601px) {
    .about {
        display: block;
    }
    .about .card {
        width: 100%;
    }
    .about .horizontal {
        display: block;
    }
    .about .container h1 {
       font-size: 30px;
    }
    .about p {
        font-size: 25px;
    }
    .about img {
        height: auto;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutBreakLine {
        display: block;
    }
}