.header {
    background-color:  transparent;
    overflow: auto;
}
.nameCard {
    float: left;
    padding-left: 30px;
}
.nameCard img {
    height: 84px;
    width: 56px;
    border-radius: 40%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
}
.header img {
    height: 84px;
    width: 56px;
    border-radius: 40%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
}
.nameCard p {
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    overflow: hidden;
    float: right;
  }
.header li {
    float: left;
    /*border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(17, 17, 218);*/
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    padding-bottom: 20px;
    font-size: 28px;
    text-decoration: none;
    text-shadow: 0 2px 3px black;
    font-weight: bolder;
}
.header li a:hover{
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00f9ff, 0 0 20px #00f9ff;*/
    color: #00f9ff;
  }