.HomeBackground {
    background-color: rgb(5, 5, 5);
    background-image: url("../Assets/keyboard.jpg");
    /*background-image: none;*/  /*Used to cancel out background image to show initial background*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    height: 950px;
}
.content {
    display: flex;
    align-items: center; /* Vertical center alignment */
    flex-direction: column;
    padding-right: 850px;
}
.content p {
    font-weight: bold;
    padding: 5px;
    font-size: 35px;
    text-align: center;
    color: white;
    text-shadow: none;
}
.fifthFont {
    font-family: "Roboto", Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-right: 20px;
    padding-top: 0px;
}
.centralFont {
    font-family: "Roboto", Arial, sans-serif;
    padding-top: 250px;
    padding-bottom: 120px;
}
.centralFont p {
    font-weight: bold;
    padding: 5px;
    font-size: 35px;
    text-align: center;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: white;
    border-radius: 1px;
    text-shadow: 0 2px 3px red, 0 3px 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}
.centralFont text {
    color: white;
    font-size: 40px;
    float: left;
    text-shadow: 5px 4px 20px 5px black;
}
.nameContainer {
    padding-top: 50px;
    padding-right: 120px;
}
.nameContainer img {
    float: right;
    width: 588px;
    height: 528px;
    background-color: white;
    border-radius: 40%;
}
.wordBlock {
    position:relative; left:800px;
}


.typingeffect {
    overflow: hidden;
    /*width: 55%;*/
}
.typingeffect text {
    border-right-style: solid;
    border-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    padding-right: 20px;
    -webkit-animation: typewriter 4s steps(40, end);
            animation: typewriter 4s steps(40, end);
}

@keyframes typewriter{
    from{ width: 0%; opacity: 0; border-right: .05em white;}
    to{ width: 100%; opacity: 100%; border-right: 0em;}
}
@keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 100%; }
}
@media screen and (max-width: 600px) {
    .content {
        padding-right: 0px;
    }
    .HomeBackground {
        height: 100%;
    }
    .centralFont {
        padding-top: 80px;
    }
    .centralFont text {
        font-size: 25px;
    }
    .centralFont p {
        font-size: 25px;
    }
    .content p {
        font-size: 25px;
    }
    .fifthFont {
        font-size: 20px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 601px) {
    .content {
        padding-right: 0px;
    }
    .centralFont {
        padding-top: 200px;
        padding-bottom: 200px;
    }
   
}